<ng-template #spinny>
  <app-spinny></app-spinny>
</ng-template>

<div *ngIf="accounts; else spinny">
 <div class="overline">
      Manage your accounts
    </div>

    <h1>Show me my money!!</h1>

    <table>
      <caption>
        Your primary accounts
      </caption>

      <thead>
        <tr>
          <th>Account Nickname</th>
          <th>Status</th>
          <th>Ending in</th>
          <th>Balance</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr app-account-list-item *ngFor="let account of accounts" [account]="account"></tr>
      </tbody>
    </table>

  <!-- TODO: Possibly implement this feature in the future -->
  <!-- <div class="form-set">
    <div class="button-group">
      <div class="right-group">
        <button class="primary-button" (click)="addAccount()">Add new account</button>
      </div>
    </div>
  </div> -->
</div>
