<div *ngIf="account">
  <article>
    <h2>Review your account details</h2>

    <p><strong>Account Holder</strong></p>
    <p>{{account.accountHolder}}</p>

    <p><strong>Account Type</strong></p>
    <p>{{account.type}}</p>

    <p><strong>Account Nickname</strong></p>
    <p>{{account.nickname}}</p>

    <p><strong>Account Status</strong></p>
    <p>{{account.status}}</p>

    <p><strong>Account Ending in</strong></p>
    <p>{{account.lastFour}}</p>

    <p><strong>Account Balance</strong></p>
    <p>{{account.balance | currency}}</p>
  </article>

  <div class="button-group">
    <div class="right-group">
      <button class="secondary-button" [routerLink]="['/edit', account.id]">Edit Nickname</button>
      <button class="primary-button" [routerLink]="['/']">Back to Accounts</button>
    </div>
  </div>
  
</div>
